[Unit]
Description=gunicorn3 for hackaday-10-machine
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day10_machine
ExecStart=/bin/gunicorn3 -e SCRIPT_NAME=/hackaday/machine --bind 0.0.0.0:8010 app:app

[Install]
WantedBy=multi-user.target
