{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login / register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action='{{ url_for("login") }}' method='POST'>
    <input type='text' name='username' id='username' placeholder='email'/>
    <input type='password' name='password' id='password' placeholder='password'/>
    <input type='hidden' name='redirect' value='{{redirect}}'>
    <input type='submit' name='submit'/>
</form>

To make a new account, just make up any username and password, and log in with them. It's that easy!

Since this is a hackathon project, please don't use your secure passwords. They could leak.
{% endblock %}

